.col{
    height:8px;
}
.container-cloud{
    width: 100%;
    max-width: 297px;
    animation-name: moving;
    animation-duration: 6s;
    animation-iteration-count: 5;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #A1ADFF;
    position: relative;
}
h1{
    color: blue;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes moving {
    from{
        transform: translateX(100%);
    }
    to{
        transform:translateX(-1000%)
    }
}